# fly.toml app configuration file generated for scs-server on 2025-12-10T04:17:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'scs-server'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
