# fly.toml app configuration file generated for scs-server on 2025-12-10T04:17:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'scs-server'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 768
